* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  background-color: #262730;
}
.container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  background-image: url('../img/header/header-truck.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right top;
  padding-top: 22px;
  margin-bottom: 104px;
}
@media (max-width: 914px) {
  .header {
    background-size: auto;
    background-position: center top;
  }
}
@media (max-width: 460px) {
  .header {
    background-image: url('../img/header/header-bg-mobile.png');
    background-position: center 77px;
    background-size: contain;
  }
}
@media (max-width: 460px) {
  .header {
    margin-bottom: 68px;
  }
}
.toggle-sidebar {
  display: none;
}
@media (max-width: 460px) {
  .toggle-sidebar {
    padding: 0;
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: none;
    outline: none;
    background-color: #262730;
  }
}
.menu-icon-wrapper {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu-icon {
  position: relative;
  width: 30px;
  height: 3px;
  background-color: #FEB74F;
}
.menu-icon::before {
  position: absolute;
  left: 0;
  top: -10px;
  content: '';
  width: 30px;
  height: 3px;
  background-color: #FEB74F;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
}
.menu-icon::after {
  position: absolute;
  left: 0;
  top: 10px;
  content: '';
  width: 30px;
  height: 3px;
  background-color: #FEB74F;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
}
.menu-icon.menu-icon-active {
  background-color: transparent;
}
.menu-icon.menu-icon-active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}
.menu-icon.menu-icon-active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}
.header__upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 102px;
}
@media (max-width: 460px) {
  .header__upper {
    margin-bottom: 342px;
  }
}
@media (max-width: 377px) {
  .header__upper {
    margin-bottom: 299px;
  }
}
@media (max-width: 340px) {
  .header__upper {
    margin-bottom: 258px;
  }
}
.header__logo {
  margin-right: 10px;
}
@media (max-width: 542px) {
  .header__logo {
    width: 79px;
    height: 46px;
  }
}
@media (max-width: 460px) {
  .header__logo {
    width: 117px;
    height: 66px;
  }
}
.header__nav {
  width: 555px;
  margin: 0;
  margin-right: 10px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 922px) {
  .header__nav {
    width: 400px;
  }
}
@media (max-width: 746px) {
  .header__nav {
    width: 330px;
  }
}
@media (max-width: 460px) {
  .header__nav {
    display: none;
  }
}
.nav__item {
  list-style-type: none;
}
.nav__item a {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  line-height: 160%;
  text-decoration: none;
  text-transform: uppercase;
  color: #DDDDDD;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.nav__item a:hover {
  color: #FEB74F;
}
@media (max-width: 922px) {
  .nav__item a {
    font-size: 13px;
  }
}
@media (max-width: 542px) {
  .nav__item a {
    font-size: 10px;
  }
}
@media (max-width: 460px) {
  .nav__item a {
    font-size: 20px;
    padding: 0;
    margin-bottom: 40px;
  }
}
@media (max-width: 460px) {
  .nav__item {
    margin-bottom: 20px;
  }
}
.header__mobile-nav {
  display: none;
}
@media (max-width: 460px) {
  .header__mobile-nav {
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    padding-top: 15px;
    padding-left: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateX(110%);
            transform: translateX(110%);
    position: fixed;
    background-color: #262730f6;
    z-index: 10;
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    -webkit-transition: -webkit-transform 0.3s ease-in;
    transition: -webkit-transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
  }
}
.header__mobile-nav-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.header__call {
  margin: 0;
  padding: 12px 23px;
  font-weight: 500;
  font-size: 15px;
  line-height: 150%;
  border-radius: 10px;
  text-decoration: none;
  color: #302F35;
  background: #FEB74F;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.header__call:hover {
  background-color: #ffa724;
}
@media (max-width: 922px) {
  .header__call {
    padding: 10px 20px;
    font-size: 13px;
  }
}
@media (max-width: 660px) {
  .header__call {
    display: none;
  }
}
.header__call-mobile {
  display: none;
}
@media (max-width: 660px) {
  .header__call-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.banner__left-col {
  margin-bottom: 125px;
}
@media (max-width: 460px) {
  .banner__left-col {
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.banner__title {
  margin: 0;
  margin-bottom: 34px;
  font-weight: 700;
  font-size: 50px;
  line-height: 130%;
  color: #DDDDDD;
}
.banner__title span {
  font-weight: 900;
  color: #FEB74F;
}
@media (max-width: 460px) {
  .banner__title {
    margin-bottom: 10px;
    font-size: 32px;
    line-height: 130%;
    text-align: center;
  }
}
.banner__desc {
  margin: 0;
  margin-bottom: 74px;
  font-weight: normal;
  font-size: 20px;
  line-height: 160%;
  color: #DDDDDD;
}
@media (max-width: 460px) {
  .banner__desc {
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 160%;
    text-align: center;
  }
}
.banner__btn {
  margin: 0;
  padding: 18px 48px;
  font-weight: bold;
  font-size: 15px;
  line-height: 150%;
  text-decoration: none;
  border-radius: 10px;
  color: #302F35;
  background-color: #FEB74F;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.banner__btn:hover {
  background-color: #ffa724;
}
@media (max-width: 460px) {
  .banner__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}
.header__arrow-link {
  width: 33px;
  height: 103px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 460px) {
  .header__arrow-link {
    display: none;
  }
}
.calc {
  position: relative;
  margin-bottom: 50px;
  scroll-behavior: smooth;
}
.calc::before {
  position: absolute;
  content: url('../img/calc/calc-bg1.png');
  top: 223px;
  left: 0;
}
@media (max-width: 1090px) {
  .calc::before {
    display: none;
  }
}
.calc::after {
  position: absolute;
  content: url('../img/calc/calc-bg2.png');
  top: 223px;
  right: 0;
}
@media (max-width: 1090px) {
  .calc::after {
    display: none;
  }
}
@media (max-width: 460px) {
  .calc {
    margin-bottom: 10px;
  }
}
.calc__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.calc__title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 35px;
  line-height: 150%;
  text-align: center;
  color: #DDDDDD;
}
.calc__title span {
  color: #FEB74F;
}
@media (max-width: 460px) {
  .calc__title {
    font-size: 22px;
    margin-bottom: 20px;
  }
}
.calc__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 560px;
  height: 720px;
  background-color: #fff;
}
.price {
  position: relative;
  background-color: #45454E;
  margin-bottom: 73px;
  padding-top: 192px;
  padding-bottom: 207px;
}
.price::before {
  content: '';
  position: absolute;
  padding-top: 5%;
  top: 0;
  left: 2px;
  right: 2px;
  background: -webkit-gradient(linear, left bottom, right top, color-stop(49.5%, transparent), color-stop(50%, #262730)) left / 50.025% 100% no-repeat, -webkit-gradient(linear, right bottom, left top, color-stop(49.5%, transparent), color-stop(50%, #262730)) right / 50.025% 100% no-repeat;
  background: linear-gradient(to right top, transparent 49.5%, #262730 50%) left / 50.025% 100% no-repeat, linear-gradient(to left top, transparent 49.5%, #262730 50%) right / 50.025% 100% no-repeat;
}
.price::after {
  content: '';
  position: absolute;
  padding-top: 5%;
  bottom: 0;
  left: 2px;
  right: 2px;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(49.5%, transparent), color-stop(50%, #262730)) left / 50.025% 100% no-repeat, -webkit-gradient(linear, right top, left bottom, color-stop(49.5%, transparent), color-stop(50%, #262730)) right / 50.025% 100% no-repeat;
  background: linear-gradient(to right bottom, transparent 49.5%, #262730 50%) left / 50.025% 100% no-repeat, linear-gradient(to left bottom, transparent 49.5%, #262730 50%) right / 50.025% 100% no-repeat;
}
@media (max-width: 800px) {
  .price {
    padding-top: 118px;
    padding-bottom: 107px;
  }
}
.price__bg {
  position: relative;
}
.price__bg::before {
  position: absolute;
  content: url('../img/price/price-bg1.png');
  left: 0;
  top: 50px;
}
@media (max-width: 1090px) {
  .price__bg::before {
    display: none;
  }
}
.price__bg::after {
  position: absolute;
  content: url('../img/price/price-bg2.png');
  right: 100px;
  top: 50px;
}
@media (max-width: 1090px) {
  .price__bg::after {
    display: none;
  }
}
.price__content {
  position: relative;
  z-index: 2;
}
.price__title {
  text-align: center;
  margin: 0;
  margin-bottom: 35px;
  font-weight: bold;
  font-size: 35px;
  line-height: 150%;
  color: #DDDDDD;
}
.price__title span {
  color: #FEB74F;
}
@media (max-width: 460px) {
  .price__title {
    margin-bottom: 20px;
    font-size: 22px;
  }
}
.price__table-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 57px;
}
.price__table-wrap:last-child {
  margin-bottom: 0;
}
@media (max-width: 911px) {
  .price__table-wrap:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 672px) {
  .price__table-wrap {
    margin-bottom: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.table-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 49%;
}
.table-wrap h3 {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 25px;
  line-height: 150%;
  color: #DDDDDD;
}
.table-wrap h3 span {
  color: #FEB74F;
}
@media (max-width: 648px) {
  .table-wrap h3 {
    font-size: 20px;
    text-align: center;
  }
}
.table-wrap:last-child {
  margin-bottom: 0;
}
@media (max-width: 911px) {
  .table-wrap {
    width: 100%;
    margin-bottom: 30px;
  }
}
.price__table {
  width: 100%;
  border-collapse: separate;
  border-radius: 5px 5px 0px 0px;
  border-spacing: 0;
}
.price__table-upper {
  width: 49%;
  border-collapse: separate;
  border-radius: 5px 5px 0px 0px;
  border-spacing: 0;
}
@media (max-width: 672px) {
  .price__table-upper:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 672px) {
  .price__table-upper {
    width: 100%;
    margin-bottom: 20px;
  }
}
.table__row {
  background: #262730;
  border: 1px solid #AEAEAE;
}
.table__title {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 0px;
  text-align: left;
  font-weight: bold;
  font-size: 15px;
  line-height: 150%;
  color: #302F35;
  background: #FEB74F;
  border-radius: 5px 0px 0px 0px;
}
.table__title:last-child {
  border-radius: 0px 5px 0px 0px;
  text-align: center;
  padding-left: 0px;
  padding-right: 20px;
}
@media (max-width: 460px) {
  .table__title:last-child {
    padding-right: 10px;
  }
}
@media (max-width: 460px) {
  .table__title {
    font-size: 13px;
    line-height: 19px;
    padding-top: 18px;
    padding-bottom: 17px;
    padding-left: 10px;
  }
}
.center {
  text-align: center;
  border-radius: inherit;
  font-weight: bold;
  padding-right: 30px;
  padding-left: 0;
  border-left: none !important;
}
.table__item {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  font-size: 15px;
  line-height: 150%;
  color: #AEAEAE;
  border-top: 1px solid #AEAEAE;
  border-bottom: 1px solid #AEAEAE;
  border-left: 1px solid #AEAEAE;
}
.table__item:last-child {
  font-weight: bold;
  text-align: center;
  border-left: none;
  border-right: 1px solid #AEAEAE;
  padding-left: 0;
}
@media (max-width: 460px) {
  .table__item {
    font-size: 13px;
    line-height: 19px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 10px;
  }
}
/*# sourceMappingURL=main.css.map */