.price {
   position: relative;
   background-color:#45454E; 
   margin-bottom: 73px;
   padding-top: 192px;
   padding-bottom: 207px;

   &::before {
    content: '';
    position: absolute;
    padding-top: 5%;
    top: 0;
    left: 2px;
    right: 2px;
    background: linear-gradient(to right top, transparent 49.5%, #262730  50%) left / 50.025% 100% no-repeat,
    linear-gradient(to left top, transparent 49.5%, #262730  50%) right / 50.025% 100% no-repeat;
   }

   &::after {
    content: '';
    position: absolute;
    padding-top: 5%;
    bottom: 0;
    left: 2px;
    right: 2px;
    background: linear-gradient(to right bottom, transparent 49.5%, #262730  50%) left / 50.025% 100% no-repeat,
    linear-gradient(to left bottom, transparent 49.5%, #262730  50%) right / 50.025% 100% no-repeat;
   }
}

.price__bg {
    position: relative;

    &::before {
        position: absolute;
        content: url('../img/price/price-bg1.png');
        left: 0;
        top: 50px;
    }

    &::after {
        position: absolute;
        content: url('../img/price/price-bg2.png');
        right: 100px;
        top: 50px;
    }
}

.price__content {
    position: relative;
    z-index: 2;
}

.price__title {
    text-align: center;
    margin: 0;
    margin-bottom: 35px;
    font-weight: bold;
    font-size: 35px;
    line-height: 150%;
    color: #DDDDDD;

    span {
        color: #FEB74F;
    }
}

.price__table-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 57px;
    // width: 100%;

    &:last-child {
        margin-bottom: 0;
    }
}

.table-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 49%;

    h3 {
        margin: 0;
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 25px;
        line-height: 150%;
        color: #DDDDDD;

        span {
            color: #FEB74F;
        }
    }
}

.price__table {
    width: 100%;
    border-collapse: separate;
    border-radius: 5px 5px 0px 0px;
    border-spacing: 0;
}

.price__table-upper {
    width: 49%;
    border-collapse: separate;
    border-radius: 5px 5px 0px 0px;
    border-spacing: 0;
}


.table__row {
    background: #262730;
    border: 1px solid #AEAEAE;
}

.table__title {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 0px;
    text-align: left;
    font-weight: bold;
    font-size: 15px;
    line-height: 150%;
    color: #302F35;
    background: #FEB74F;
    border-radius: 5px 0px 0px 0px;

    &:last-child {
        border-radius: 0px 5px 0px 0px;
        text-align: center;
        padding-left: 0px;
        padding-right: 20px;
    }

    // &:nth-last-child(2) {
    //     border-radius: inherit;
    // }
}

.center {
    text-align: center;
    border-radius: inherit;
    font-weight: bold;
    padding-right: 30px;
    padding-left: 0;
    border-left: none !important;
}

.table__item {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    font-size: 15px;
    line-height: 150%;
    color: #AEAEAE;
    border-top: 1px solid #AEAEAE;
    border-bottom: 1px solid #AEAEAE;
    border-left: 1px solid #AEAEAE;

    &:last-child {
        font-weight: bold;
        text-align: center;
        border-left: none;
        border-right: 1px solid #AEAEAE;
        padding-left: 0;
    }

    &:nth-last-child(2) {
        // border-left: none;
    }
}